@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body
{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4.7fr;
    grid-template-rows: 1fr 3.5fr;
}

#side-bar
{
    background-color: #2563eb;
    color: #ffffff;
    padding: 1vh 1vw;

    grid-area: 1 / 1 / 3 / 2;

    display: grid;
    grid-template-rows: 1fr 4fr 2fr 4fr;
    row-gap: 8vh;
}

#logo
{
    display: flex;
    align-items: center;
    gap: 1vw;
    padding: 1vh 1.1vw;
}

#logo > h1
{
    font-size: 1.7rem;
}

#logo > img
{
    filter: invert(100%);
    height: 40px;
    width: auto;
}

#acess 
{
    display: grid;
    grid-template-rows: repeat(6,1fr);
}

#settings 
{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

#acess section, #settings section
{
    display: flex;
    align-items: center;
    gap: 1vw;
    padding: 1vh 1.5vw;
    font-size: 1.2rem;
    font-weight: bold;
}

#acess section img, #settings section img
{
    filter: invert(100%);
    height: 25px;
    width: auto;
}

header
{
    
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1.5fr 2fr;
    row-gap: 5vh;
    min-height: 200px;
}

#search-bar
{
    display: flex;
    align-items: flex-end;
    gap: 1vw;
    padding-left: 3vw;
}

#search-bar > label > img
{
    height: 23px;
    width: auto;
}

#search-bar input
{
    appearance: none;
    background-color: #e2e8f0;
    width: 80%;
    height: 4vh;
    padding: 2vh 2vw;
    border: none;
    border-radius: 2rem;
}

#buttons
{
    grid-area: 1 / 2 / 3 / 3;

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    place-items: center start;
}

#buttons button
{
    appearance: none;
    border: none;
    background-color: #2563eb;
    border-radius: 3rem;
    color: #ffffff;
    font-weight: bold;
    height: clamp(30px,5vh,40px);
    width: clamp(60px,7vw,150px);
}

#buttons button:hover
{
    background-color: #e2e8f0;
    color: #2563eb;
    border: #2563eb solid 1px;
}

#user
{
    grid-area: 1 / 1 / 2 / 4;
    justify-self: end;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2.7vw;

    font-size: 1.2rem;
    font-weight: bold;
    padding-right: 3vw;
}

#notifications
{
    height: 25px;
    width: auto;
}

.user-photo
{
    height: 45px;
    width: 45px;
    border-radius: 5rem;
}

#user-info
{
    align-self: center;

    display: flex;
    padding-left: 4vw;
    align-items: center;
    gap: 1vw;
}

#text
{
    display: flex;
    flex-direction: column;
    gap: 0.7vh;
    font-weight: bold;
    font-size: 0.8rem;
}

#text span
{
    font-size: 1.4rem;
}

#user-info img
{
    height: 70px;
    width: 70px;
    border-radius: 5rem;  
}

main
{
    position: relative;

    display: grid;
    height: 100%;
    grid-template-columns: 2.4fr 1fr;
    background-color: #e2e8f0;
    column-gap: 2vw;
    padding: 7vh 0;

    overflow: scroll;
}

#second-layout
{
    display: grid;
    grid-template-rows: 1fr 1fr;
    place-items: center start;
    row-gap: 2vh;
}

#announcements, #trending
{
    font-weight: bold;
    font-size: 1.2rem;
}

#announcements > section, #trending > section
{
    background-color: #ffffff;
    margin-top: 1vh;
    padding: 3vh 2vw;
    border-radius: 0.6rem;
    font-size: 0.9rem;
    width: 19vw;

    display: flex;
    flex-direction: column;
    gap: 3vh;

    box-shadow: 1px 2px 2px #cbd5e1;
}

#announcements p, #trending p
{
    color: #6b7280;
    font-size: 0.7rem;
    font-weight: normal;
}

#medium
{
    padding: 2vh 0;
    border-top: #94a3b8 solid 1px;
    border-bottom: #94a3b8 solid 1px;
}

#trending > section > section
{
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    place-items: center start;
}

#principal-layout
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    place-items: center;
    row-gap: 3vh;
}

#principal-layout > div
{
    background-color: #ffffff;
    border-radius: 0.7rem;
    padding: 3.5vh 1.5vw 2vh;
    width: 25vw;
    height: 25vh;
    box-shadow: 1px 3px 3px #cbd5e1;
    border-left: #2563eb solid 11px;
    font-weight: bold;

    display: grid;
    grid-template-rows: 4fr 1fr;
}


#principal-layout > div > section > p
{
    grid-row: 1 / 2;

    color: #6b7280;
    font-size: 0.9rem;
    font-weight: normal;
    width: 18vw;
}

.options
{
    justify-self: end;

    display: flex;
    gap: 1.5vw;
}

.options img
{
    width: 23px;
    height: 23px;

}

main > span
{
    position: absolute;
    top: 4vh;
    left: 1.6vw;
    font-weight: bold;
    font-size: 1.1rem;
}






